{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter un arrondissement{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-3">Ajouter un arrondissement !</h2>

        {# Affichage du formulaire créé avec symfony#}
        {{ form_start(form) }}
        <div class="alert alert-light">
            <div class="row">
                <div class="col">
                    {{ form_row(form.libelleArrondissement) }}
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i>
                Confimez l'ajout
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
